<div class="header">
    <i class="icon-arrow-left5" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="icon-arrow-right5" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day" data-translate-context="weekDay" translate>Sun</span>
    <span class="day" data-translate-context="weekDay" translate>Mon</span>
    <span class="day" data-translate-context="weekDay" translate>Tue</span>
    <span class="day" data-translate-context="weekDay" translate>Wed</span>
    <span class="day" data-translate-context="weekDay" translate>Thu</span>
    <span class="day" data-translate-context="weekDay" translate>Fri</span>
    <span class="day" data-translate-context="weekDay" translate>Sat</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>